@use 'sass:math';
@use '../../../../components/variables' as *; // Ensure the path is correct
@use "sass:list";
@use '../../mixins' as *; // Adjust the path as necessary

.p-autocomplete {
  .p-autocomplete-loader {
    right: list.nth($inputPadding, 2);
  }

  &.p-autocomplete-dd {
    .p-autocomplete-loader {
      right: list.nth($inputPadding, 2) + $buttonIconOnlyWidth;
    }
  }

  .p-autocomplete-multiple-container {
    padding: math.div(list.nth($inputPadding, 1), 2) list.nth($inputPadding, 2);
    gap: $inlineSpacing;

    &:not(.p-disabled):hover {
      border-color: $inputHoverBorderColor;
    }

    &:not(.p-disabled).p-focus {
      @include focused-input();
    }

    .p-autocomplete-input-token {
      padding: math.div(list.nth($inputPadding, 1), 2) 0;

      input {
        font-family: $fontFamily;
        font-size: $fontSize;
        color: $textColor;
        padding: 0;
        margin: 0;
      }
    }

    .p-autocomplete-token {
      padding: math.div(list.nth($inputPadding, 1), 2) list.nth($inputPadding, 2);
      background: $highlightBg;
      color: $highlightTextColor;
      border-radius: $borderRadius;

      .p-autocomplete-token-icon {
        margin-left: $inlineSpacing;
      }
    }
  }
}

p-autocomplete.ng-dirty.ng-invalid > .p-autocomplete > .p-inputtext {
  @include invalid-input();
}

.p-autocomplete-panel {
  background: $inputOverlayBg;
  color: $inputListTextColor;
  box-shadow:
    rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset !important;
  border-radius: $borderRadius;
  box-shadow: $inputOverlayShadow;
  .p-autocomplete-items {
    padding: 0 !important;

    .p-autocomplete-item {
      margin: 0;
      padding: 0;
      border: $inputListItemBorder;
      color: $inputListItemTextColor;
      background: $inputListItemBg;
      transition: $listItemTransition;
      border-radius: $inputListItemBorderRadius;

      &:hover {
        color: $tertiaryTextColor;
        background: $tertiaryColor;
      }

      &.p-highlight {
        color: $highlightTextColor;
        background: $highlightBg;
      }
    }

    .p-autocomplete-empty-message {
      padding: $inputListItemPadding;
      color: $inputListItemTextColor;
      background: $inputListItemBg;
    }

    .p-autocomplete-item-group {
      margin: $submenuHeaderMargin;
      padding: $submenuHeaderPadding;
      color: $submenuHeaderTextColor;
      background: $submenuHeaderBg;
      font-weight: $submenuHeaderFontWeight;
    }
  }
}

p-autocomplete.p-autocomplete-clearable {
  .p-inputtext {
    padding-right: list.nth($inputPadding, 2) * 2 + $primeIconFontSize;
  }

  .p-autocomplete-clear-icon {
    color: $inputIconColor;
    right: list.nth($inputPadding, 2);
  }
}

p-autocomplete.p-autocomplete-clearable .p-autocomplete-dd {
  .p-autocomplete-clear-icon {
    color: $inputIconColor;
    right: $buttonIconOnlyWidth + list.nth($inputPadding, 2);
  }
}
table.table-search {
  table-layout: fixed;
  width: 100% !important;
  border-collapse: collapse !important;

  th {
    background-color: $tableHeaderCellBg;
    border: $tableBodyCellBorder;
    padding-left: 10px !important;
    padding-right: 5px !important;
    white-space: normal !important;
    word-wrap: break-word !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  td {
    border: $tableBodyCellBorder;
    border-top: none;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 10px !important;
    padding-right: 5px !important;
    white-space: normal !important;
    word-wrap: break-word !important;
    overflow: hidden;
    text-overflow: ellipsis;
    position: sticky;
    color: $tableBodyRowTextColor;
  }
}

table.table-header-search {
  th {
    background-color: $tableHeaderCellBg;
    border: $tableBodyCellBorder;
    padding-left: 10px !important;
    padding-right: 5px !important;
    white-space: normal !important;
    word-wrap: break-word !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  position: fixed;
  z-index: 1 !important;
  border-collapse: collapse !important;
}

table.table-header-search-width-without-scroll {
  width: 1281px;
}

table.table-header-search-width-with-scroll {
  width: 1271px;
}
