@use 'sass:math';
@use '../../../../components/variables' as *;
@use '../../mixins' as *;
@use "sass:list";

.p-multiselect {
  background: $inputBg;
  border: $inputBorder;
  transition: $formElementTransition;
  border-radius: $borderRadius;

  &:not(.p-disabled):hover {
    border-color: $inputHoverBorderColor;
  }

  &:not(.p-disabled).p-focus {
    @include focused-input();
  }

  .p-multiselect-label-container {
    font-size: $inputTextFontSize;
    font-weight: 600;
  }

  .p-multiselect-label {
    padding: $inputPadding;
    transition: $formElementTransition;

    &.p-placeholder {
      color: $inputPlaceholderTextColor;
      font-style: italic !important;
      font-weight: 100 !important;
      font-size: $inputTextFontSize !important;
    }
  }

  &.p-multiselect-chip {
    .p-multiselect-label {
      gap: $inlineSpacing;
    }
    .p-multiselect-token {
      padding: math.div(list.nth($inputPadding, 1), 2) list.nth($inputPadding, 2);
      background: $highlightBg;
      color: $highlightTextColor;
      border-radius: $borderRadius;

      .p-multiselect-token-icon {
        margin-left: $inlineSpacing;
      }
    }
  }

  .p-multiselect-trigger {
    background: transparent;
    color: $inputIconColor;
    width: $inputGroupAddOnMinWidth;
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
  }
}

.p-inputwrapper-filled {
  .p-multiselect {
    &.p-multiselect-chip {
      .p-multiselect-label {
        padding: math.div(list.nth($inputPadding, 1), 2) list.nth($inputPadding, 2);
      }
    }
  }
}

.p-multiselect-panel {
  background: $inputOverlayBg;
  color: $inputListTextColor;
  border: $inputOverlayBorder;
  border-radius: $borderRadius;
  box-shadow:
    rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset !important;
  .p-multiselect-header {
    padding: $inputListHeaderPadding;
    border-bottom: $inputListHeaderBorder;
    color: $inputListHeaderTextColor;
    background: $inputOverlayHeaderBg;
    margin: $inputListHeaderMargin;
    border-top-right-radius: $borderRadius;
    border-top-left-radius: $borderRadius;

    .p-multiselect-filter-container {
      .p-inputtext {
        padding-right: list.nth($inputPadding, 2) + $primeIconFontSize;
      }

      .p-multiselect-filter-icon {
        right: list.nth($inputPadding, 2);
        color: $inputIconColor;
      }
    }

    .p-checkbox {
      margin-right: $inlineSpacing;
    }

    .p-multiselect-close {
      margin-left: $inlineSpacing;
      @include action-icon();
    }
  }

  .p-multiselect-items {
    padding: $inputListPadding;

    .p-multiselect-item {
      margin: $inputListItemMargin;
      padding: $inputListItemPadding;
      border: $inputListItemBorder;
      color: $inputListItemTextColor;
      background: $inputListItemBg;
      transition: $listItemTransition;
      border-radius: $inputListItemBorderRadius;

      &.p-highlight {
        color: $inputListItemTextHoverColor;
        background: $highlightBg;
      }

      &:not(.p-highlight):not(.p-disabled):hover {
        color: $inputListItemTextHoverColor;
        background: $tertiaryColor;
      }

      &:focus {
        @include focused-listitem();
      }

      .p-checkbox {
        margin-right: $inlineSpacing;
      }
    }

    .p-multiselect-item-group {
      margin: $submenuHeaderMargin;
      padding: $submenuHeaderPadding;
      color: $submenuHeaderTextColor;
      background: $submenuHeaderBg;
      font-weight: $submenuHeaderFontWeight;
    }

    .p-multiselect-empty-message {
      padding: $inputListItemPadding;
      color: $inputListItemTextColor;
      background: $inputListItemBg;
    }
  }
}

p-multiselect.ng-dirty.ng-invalid > .p-multiselect {
  @include invalid-input();
}

.p-input-filled {
  .p-multiselect {
    background: $inputFilledBg;

    &:not(.p-disabled):hover {
      background-color: $inputFilledHoverBg;
    }

    &:not(.p-disabled).p-focus {
      background-color: $inputFilledFocusBg;
    }
  }
}

p-multiselect.p-multiselect-clearable {
  .p-multiselect-label-container {
    padding-right: list.nth($inputPadding, 2) + $primeIconFontSize;
  }

  .p-multiselect-clear-icon {
    color: $inputIconColor;
    right: $inputGroupAddOnMinWidth;
  }
}
