@use './variables' as *;

html,
body {
  margin: 0 !important;
  font-family: var(--pro-font-family);
}

@each $color, $value in $theme-labels {
  .bg-#{$color} {
    background-color: var(--pro-color-#{$color}) !important;
  }
}

.grid {
  margin-top: 0;
}

.grid > .col,
.grid > [class*='col'] {
  padding-top: 0;
  padding-bottom: 0;
}

h1 {
  font-size: 1.625rem;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.15;
  color: var(--sdcolor);

}
h2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.15;
  color: var(--sdcolor);

}
h3 {
  font-size: 1.375rem;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.15;
  color: var(--sdcolor);

}
h4 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.15;
  color: var(--sdcolor);

}
h5 {
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.15;
  color: var(--sdcolor);

}
h6 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.15;
  color: var(--sdcolor);

}
p {
  font-size: 0.875rem;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.15;
}

.field {
  margin-bottom: 0.8rem;
}

.field > label {
  font-size: 0.875rem;
  margin-top: 0;
  margin-bottom: 0.25em;
  line-height: 1.15;
}

.badge {
  padding: 3px 5px;
  border-radius: 6px;
}

.p-inputtext {
  width: 100%;
  // font-weight: 600 ;
  padding: 6px;
  &:focus {
    // background-color: #b9ffb9;
    background-color: var(--p-input-text-focus-bg-color);
  }
}

p-inputnumber,
.p-inputnumber {
  width: 100%;
}

.p-datatable {
  font-size: 0.9rem;
  .p-datatable-tbody tr:focus {
    outline: 0.15rem solid var(--pro-color-primary-tint);
    outline-offset: -0.15rem;
    td {
      background: var(--table-td-active-color);
    }
  }
}

.p-calendar-w-btn .p-datepicker-trigger {
  background-color: transparent;
  color: var(--pro-color-primary-tint);
}

.p-tabview {
  .p-tabview-nav {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding-bottom: 1.2px;
    li {
      .p-tabview-nav-link {
        border-radius: 0;
      }
      &:first-child .p-tabview-nav-link {
        border-left: 0;
        border-top-left-radius: 4px;
      }
    }
    .p-tabview-nav-link:not(.p-disabled):focus,
    .p-tabview-nav-link:not(.p-disabled):hover {
      border-top-right-radius: 0;
      box-shadow: none;
    }
  }
  .p-tabview-panels {
    border-top: 0;
  }
}
// .p-calendar timesicon.p-icon-wrapper {
//   position: relative;
//   .p-calendar-clear-icon {
//     margin: 0;
//     transform: translateY(-50%);
//   }
// }

.dropdown-table {
  padding: 0.5rem !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9) !important;

  .p-dropdown-items,
  .p-dropdown-item {
    padding: 0;
    
  }
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 'dropdownTableFilter' 'dropdownTableHeader' 'dropdownTableContent' 'dropdownTableFooter';
  .dropdown-table-list {
    table-layout: fixed;
    
    width: 100%;
    border-collapse: collapse;
    td {
      padding: 0.25rem;
      border: 1px solid var(--surface-100);
      // border-bottom: 0;
      word-wrap: break-word;
      white-space: normal;
      width: auto;
      color: var(--datatablecolor);
    }
  }

  .p-dropdown-header {
    grid-area: dropdownTableFilter;
    padding: 0.5rem;
    color: var(--datatablecolor);
  }
  .dropdownTableHeader {
    grid-area: dropdownTableHeader;
    // padding: 0.5rem 0.5rem 0 0.5rem;
    width: 100%;
    overflow-y: scroll;
    td {
      background-color: $tableHeaderCellBg;
      font-weight: 700;
      color: var(--datatablecolor);
    }
  }
  .p-dropdown-items-wrapper {
    grid-area: dropdownTableContent;
    // display: block; // Prevents grid issues

    // padding: 0 0.5rem;
    width: 100%;
    .p-dropdown-items p-dropdownitem:last-child table {
      border-bottom: 1px solid var(--surface-100);
      
    }
  }
  .dropdownTableFooter {
    grid-area: dropdownTableFooter;
  }
}
.no-scrollbar::-webkit-scrollbar {
  background-color: transparent;
}

.no-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 1px solid transparent;
}

// ::-webkit-scrollbar {
//   width: 10px;
//   height: 10px;
// }
@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: $shade000;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $shade400;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: $primaryDarkColor;
  }
.p-inputwrapper.ng-invalid.ng-touched {
  .p-dropdown,
  .p-inputnumber-input {
    border-color: var(--error-color);
  }
}

.page-title {
  font-weight: bold;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.tabview-right-save-btn ul.p-tabview-nav li:nth-last-child(2) {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 0 0.875rem;
  .p-tabview-nav-link {
    padding: 0;
    pointer-events: none;
    .form-save-btn {
      pointer-events: all;
    }
  }
}
.gray {
  background-color: #e9e9e9;
}
.border-gray {
  border: 1px solid $primaryColor;
}
.label {
  font-weight: 600 !important;
  background-color: $primaryColor !important;
  font-size: 1.1rem;
  color: $primaryTextColor;
  padding: 0 0.5rem;
  border-radius: 5px 5px 0 0;
}

.color-gray {
  background-color: $tableBackGroundColor;
}
}