

@use '../../../../components/variables' as *;
@use '../../mixins' as *;
.p-fieldset {
  border: $panelContentBorder;
  background: var(--sdbgcolor);
  color: var(--sdcolor);
  border-radius: $borderRadius;

  .p-fieldset-legend {
    padding: $panelHeaderPadding;
    border: $panelHeaderBorder;
    color: $panelHeaderTextColor;
    background: $panelHeaderBg;
    font-weight: $panelHeaderFontWeight;
    border-radius: $borderRadius;
  }

  &.p-fieldset-toggleable {
    .p-fieldset-legend {
      padding: 0;
      transition: $actionIconTransition;

      a {
        padding: 0.4rem 0.75rem !important;
        color: $panelHeaderTextColor;
        border-radius: $borderRadius;
        transition: $listItemTransition;

        .p-fieldset-toggler {
          margin-right: $inlineSpacing;
        }

        &:focus {
          @include focused();
        }
      }

      &:hover {
        background: $panelHeaderHoverBg;
        border-color: $panelHeaderHoverBorderColor;
        color: $panelHeaderTextHoverColor;
      }
    }
  }

  .p-fieldset-content {
    padding: $panelContentPadding;
  }
}
